.demo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 60px;
}

.phone {
  width: 260px;
  height: 520px;
  background: white;
  border-radius: 40px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.phone img {
  animation: slide 10s infinite;
}

@keyframes slide {
  0% { transform: translateX(0); }
  33% { transform: translateX(-100%); }
  66% { transform: translateX(-200%); }
  100% { transform: translateX(0); }
}
